<h4>Comments:</h4>
<table class="admin_table">
  <thead>
    <tr>
      <th>Author</th>
      <th>Post</th>
      <th>Content</th>
      <th>Date Posted</th>
      <th>Control</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |c| %>
    <tr>
      <td><%= link_to c.user.name, c.user %></td>
      <td><%= link_to c.post.title, c.post %></td>
      <td><%= c.content[0..20] %></td>
      <td><%= localize(c.created_at, :format => :long) %></td>
      <td>
          <%= link_to "delete", c, method: :delete,
                                    data: { confirm: "Delete this comment?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>