<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    
    <h2 class="text-center">Sign up</h2>

    <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>
      
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <span class="help-block">This will be your publically displayed name on the site.</span>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>

    <% end %>
    <br>
    <p>Already a user? Sign in <%= link_to "here", signin_path %></p>
  
  </div>
</div>