<% provide(:title, @user_profile.name) %>
<div class="row">
  <div class="col-md-3">
    <%= avatar_for @user_profile.user, :size => 150  %>
    <h4>
      <%= @user_profile.name %>
      <% if @user_profile.admin? %>
        | <%= " (Admin)" %>
      <% end %>
    </h4>
    Member since: <%= time_tag(@user_profile.user.created_at, :format=>'%B %d, %Y') %>
  </div>
  <div class="col-md-9">
    <ul class="nav nav-tabs tabs" role="tablist">
      <li class="active"><a href="#posts" role="tab" data-toggle="tab">Blog Posts</a></li>
      <li><a href="#reviews" role="tab" data-toggle="tab">Reviews</a></li>
    </ul>
    <div id='content' class="tab-content">
      <div class="tab-pane active" id="posts">
        <% if @user_profile.posts.any? %>
          <ol class="posts">
            <%= render @user_profile.posts %>
          </ol>
          <%= paginate @user_profile.posts, param_name: "post_page" %>
        <% else %>
          <%= content_tag(:p, "There are no posts.") %>
        <% end %>
      </div>
      <div class="tab-pane" id="reviews">
        <% if @user_profile.reviews.any? %>
          <ol class="reviews">
            <%= render @user_profile.reviews %>
          </ol>
        <% else %>
          <%= content_tag(:p, "There are no reviews.") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
