<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-3">
    <%= gravatar_for @user, :size => 150  %>
    <h4>
      <%= @user.name %>
      <% if @user.admin? %>
        | <%= " (Admin)" %>
      <% end %>
    </h4>
    Member since: <%= time_tag(@user.created_at, :format=>'%B %d, %Y') %>
  </div>
  <div class="col-md-9">
    <ul class="nav nav-tabs tabs" role="tablist">
      <li class="active"><a href="#posts" role="tab" data-toggle="tab">Blog Posts</a></li>
      <li><a href="#reviews" role="tab" data-toggle="tab">Reviews</a></li>
    </ul>
    <div id='content' class="tab-content">
      <div class="tab-pane active" id="posts">
        <% if @posts.any? %>
          <ol class="posts">
            <%= render @posts %>
          </ol>
          <%= paginate @posts %>
        <% else %>
          <%= content_tag(:p, "You have no posts.") %>
        <% end %>
      </div>
      <div class="tab-pane" id="reviews">
        <% if @reviews.any? %>
          <ol class="reviews">
            <%= render @reviews %>
          </ol>
        <% else %>
          <%= content_tag(:p, "You have no reviews.") %>
        <% end %>
      </div>
    </div>
  </div>
</div>