<div id="nav-wrapper">
  <nav id="nav" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="visible-xs-block"><%= website_logo %></span>
      </div>
      <div class="navbar-collapse collapse" id="nav-links">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Places", places_path, method: :get %></li>
          <li><%= link_to "About", about_path %></li>
          <% if signed_in? %> 
            <%= render 'shared/account_dropdown_mobile' %>
          <% else %>
            <li class="visible-xs"><%= link_to "Sign in", signin_path %></li>
            <li class="visible-xs"><%= link_to "Sign up", signup_path %></li>
          <% end %>
        </ul>
        <%= render 'shared/search_bar' %>
      </div>
    </div>
  </nav>
</div>
