<div id="nav-wrapper">
  <nav id="nav" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="visible-xs-block">
          <%= link_to image_tag("veb_logo.png", alt: "Vegan Eats Boston"), root_path, id: "logo" %>
        </span>
      </div>
      <div class="navbar-collapse collapse" id="nav-links">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Places", places_path, method: :get %></li>
          <li><%= link_to "About", about_path %></li>
          <% if signed_in? %> 
            <%= render 'shared/account_dropdown_mobile' %>
          <% else %>
            <li class="visible-xs"><%= link_to "Sign in", signin_path %></li>
            <li class="visible-xs"><%= link_to "Sign up", signup_path %></li>
          <% end %>
        </ul>
        <%= form_tag(places_path, :method =>  :get, id: "search-form", class: "navbar-form navbar-right", role: "search") do %>
          <div class="input-group">   
            <%= text_field_tag :search, nil, placeholder: "Search by address or name", class: "form-control nav-search" %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', class: "btn btn-success") do %>
                <span class="glyphicon glyphicon-search"></span> 
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</div>
