<table class="table table-condensed">
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Date Posted</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_dashboard.posts.each do |p| %>
    <tr>
      <td><%= link_to p.user.name, p.user %></td>
      <td><%= link_to p.title, p %></td>
      <td><%= localize(p.created_at, :format => :long) %></td>
      <td>
        <% if p.approved then %>
          <%= link_to "unapprove", admin_unapprove_post_path(p), method: :patch %>
        <% else %>
          <%= link_to "approve", admin_approve_post_path(p), method: :patch %>
        <% end %>
        / <%= link_to "edit", edit_post_path(p) %>
        / <%= link_to "delete", p, method: :delete,
                                    data: { confirm: "Delete this post?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @admin_dashboard.posts, 
      param_name: "post_page", :params => { anchor: 'posts' } %>
