<li>
  <h2><%= post.title %></h2>
  <span class="timestamp">
    Posted by <%= gravatar_for post.user, :size => 40 %>
    <%= link_to post.user.name, post.user %>
    <br>
    <%= time_ago_in_words(post.created_at) %> ago.
    <% if post.user == current_user %>
      <%= link_to "edit", edit_post_path(post) %>
      <%= link_to "delete", post, method: :delete,
                                    data: { confirm: "Delete this post?" } %>
    <% end %>
  </span>
  <span >
    <% if post.image? then %>
      <%= image_tag post.image.url, :class => "img-responsive postimage" %>
    <% end %>
  </span>
  <span class="content"><%= post.content.html_safe %></span>
  <p>
  <%= link_to "More", post_url(post), class: "btn btn-large btn-primary" %>
  <span class="pull-right">
    <%= link_to "comments", post_url(post) %>(<%= post.comments.count %>)
  </span>
  </p>
</li>