<li>
  <span class="title"><%= link_to post.title, post_url(post) %>
    <% if current_page?(:controller => 'posts', :action => 'index') && current_user.admin?%>
      | <%= link_to "delete", post, method: :delete,
                                    data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <span class="timestamp">
    Posted by <%= gravatar_for post.user, :size => 40 %>
    <%= link_to post.user.name, post.user %><br>
    <%= time_ago_in_words(post.created_at) %> ago.
  </span>
  <span >
    <% if post.image? then %>
      <%= image_tag post.image.url, :class => "img-responsive postimage" %>
    <% end %>
  </span>
  <span class="content"><%= post.content %></span>
  <p>
  <%= link_to "More", post_url(post), class: "btn btn-large btn-primary" %>
  <span class="pull-right">
    <%= link_to "comments", post_url(post) %>(<%= post.comments.count %>)
  </span>
  </p>
</li>