<li>
  <div class="row">
    <div class="col-md-12">
      <h1><%= post.title %></h1>
      <span class="timestamp">
        <span class="glyphicon glyphicon-user"></span>
        <%= link_to post.user.name, post.user %>
        <%= time_ago_in_words(post.created_at) %> ago.
        <% if post.user == current_user %>
          <%= link_to "edit", edit_post_path(post) %>
          <%= link_to "delete", post, method: :delete,
                                        data: { confirm: "Delete this post?" } %>
        <% end %>
        &nbsp;&nbsp;
        <span class="glyphicon glyphicon-comment"></span>
        <%= link_to "0 Comments", post_url(post, :anchor => "disqus_thread"), :"data-disqus-identifer" => post.id %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1 post-icons hidden-xs">
      <%= gravatar_for post.user, :size => 50 %>
    </div>
    <div class="col-xs-11">
      <span >
        <% if post.image? then %>
          <%= image_tag post.image.url(:original), :class => "img-responsive postimage" %>
        <% end %>
      </span>
      <span class="content"><%= post.content.html_safe %></span>
    </div>
  </div>
</li>