<% provide(:title, 'All posts') %>
<h1>All posts - Admin</h1>

<p>All:
<table id="tableposts">
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Date Posted</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |p| %>
    <tr>
      <td><%= link_to p.user.name, p.user %></td>
      <td><%= link_to p.title, p %></td>
      <td><%= localize(p.created_at, :format => :long) %></td>
      <td><% if p.approved then %>
        <%= "Approved" %>
      <% else %>
        <%= link_to "Approve", posts_approve_path(:id => p.id), method: :approve,
                                  data: { confirm: "You sure?" } %>
      <% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>