<% provide(:title, 'Post') %>

<div class="posts">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1><%= @post.title %></h1>
      <span class="timestamp">
        Posted by <%= link_to @post.user.name, @post.user %>
        <%= time_ago_in_words(@post.created_at) %> ago.
        <% if @post.user == current_user %>
          <%= link_to "edit", edit_post_path(@post) %>
          <%= link_to "delete", @post, method: :delete,
                                        data: { confirm: "Delete this post?" } %>
        <% end %>
      </span>
      <span >
        <% if @post.image? then %>
          <%= image_tag @post.image.url, :class => "img-responsive postimage" %>
        <% end %>
      </span>
      <span class="content"><%= @post.content.html_safe %></span>
    </div>
  </div>
</div>

<div class="col-md-7 col-md-offset-1">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = '<%= Rails.env.development? ? "veganeatsbostondev" : "veganeatsboston" %>';
      var disqus_identifier = '<%= @post.id %>';
      var disqus_url = '<%= post_url(@post) %>';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
