<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Date Created</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= localize(user.created_at, :format => :long) %></td>
        <td>
          <%= link_to "edit", edit_user_path(user) %>
          / <%= link_to "delete", admin_user_path(user), method: :delete,
                                    data: { confirm: "Delete user?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users, param_name: "user_page", :params => { anchor: 'users' } %>
