<li>
  <div class="row">
    <div class="col-xs-12 media">
      <% if params[:controller] != 'places' %>
        <h5><%= link_to review.place.name, review.place %></h5>
      <% end %>
      <span class="pull-left"><%= link_to avatar_for review.user, style: :thumb %></span>
      <div class="media-body">
        by <%= link_to review.user.name, review.user %>
        <%= time_ago_in_words(review.created_at) %> ago.
        <% if review.user == current_user %>
          <%= link_to "edit", edit_review_path(review), 
                              id: "edit-review-#{review.id}" %>
          <%= link_to "delete", review, method: :delete,
                                        data: { confirm: "Delete this review?" }, 
                                        id: "delete-review-#{review.id}" %>
        <% end %>
        <%= render 'shared/stars_for_review', review: review %>
      </div>
    </div>
    <div class="col-xs-12 review">
      <p><%= review.content.html_safe %></p>
    </div>
  </div>
</li>
