<li>
  <div class="row">
    <div class="col-md-12">
      <h5>
        <%= link_to review.place.name, review.place if params[:controller] != 'places' %>
      </h5>
    </div>
    <div class="place-list-right">
      <div class="star">
        <div id=<%= "star_" + review.id.to_s %>></div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="media">
        <%= link_to gravatar_for(review.user, :size => 40, :class => "media-object pull-left"), review.user, :class => "pull-left" %>
        <div class="media-body">
          <h5 class="media-heading small">
            by <%= link_to review.user.name, review.user %><br>
            <%= time_ago_in_words(review.created_at) %> ago.
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="review-<%= review.id %>" class="col-md-12 padding-to-top-10">
      <p>
        <%= review.content.html_safe %>
      </p>
    </div>
  </div>
</li>

<script type="text/javascript">
  $('#star_<%= review.id.to_s %>').raty({
    readOnly: true,
    score: <%= review.rating %>,
    path: '/assets'
  });
</script>