<li>
  <div class="row">
    <div class="col-xs-6">
      <div class="col-md-12">
        <h4>
          <%= link_to review.place.name, review.place if params[:controller] == 'users' %>
        </h4>
      </div>
      <div class="col-md-12">
        <div class="media">
          <%= link_to gravatar_for(review.user, :size => 50, :class => "media-object pull-left"), review.user, :class => "pull-left" %>
          <div class="media-body">
            <h5 class="media-heading small">
              by <%= link_to review.user.name, review.user %><br>
              <%= time_ago_in_words(review.created_at) %> ago.
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="star">
        <div id=<%= "star_" + review.id.to_s %>></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12">
        <br>
        <p><%= review.content.html_safe %></p>
      </div>
    </div>
  </div>
</li>

<script type="text/javascript">
  $('#star_<%= review.id.to_s %>').raty({
    readOnly: true,
    score: <%= review.rating %>,
    path: '/assets'
  });
</script>