<% provide(:title, 'Update Review') %>

<div class="row">
  <div class="form-group col-md-6 col-md-offset-3">
    <h1 class="text-center">Update Review</h1>

    <%= form_for(@review) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :rating %>
      <%= f.number_field :rating, class: "form-control" %>

      <%= f.label :content %>
      <%= f.text_area :content, rows: "7", placeholder: "Compose review...", class: "form-control" %>

      <%= f.hidden_field :place_id, :value => params[:id] %>

      <%= f.submit "Publish review", class: "btn btn-large btn-primary" %>
      
    <% end %>
  </div>
</div>