<% provide(:title, 'Update review') %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>Review for <%= @place.name %>:</h2>
    <div class="form-group">
      <%= form_for(@review) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.label :rating %>
          <%= f.hidden_field :rating, :value => @review.rating %>
          <div id="user_star"></div>
        </div>

        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, rows: "7", placeholder: "Compose review...", class: "wysihtml5" %>
        </div>
        
        <%= f.hidden_field :place_id, :value => params[:id] %>

        <%= f.submit "Publish review", class: "btn btn-large btn-primary" %>
        
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#user_star').raty({
    score: <%= @review.rating %>,
    path: '/assets',
    click: function(score, evt) {
      document.getElementById('review_rating').value = score;
      $.ajax({
        data: { score: score }
      }).done(function (data){});
    }
  });
</script>
<script type="text/javascript">
  $('.wysihtml5').wysihtml5({
    toolbar: {
      "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
      "emphasis": true, //Italics, bold, etc. Default true
      "lists": false, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
      "html": false, //Button which allows you to edit the generated HTML. Default false
      "link": true, //Button to insert a link. Default true
      "image": false, //Button to insert an image. Default true,
      "color": false, //Button to change color of font  
      "blockquote": false, //Blockquote
    }
  });
</script>