<%= smart_listing_controls_for(:places) do %>
  <div class="place-filters">
    <%= render 'places/dropdown_for_sort' %>
    <%= render 'places/dropdown_for_cities' %>
    <%= render 'places/dropdown_for_categories' %>
    <div class="col-md-3 filter">
        <%= text_field_tag :contains, 
                           '', 
                           class: "search form-control", 
                           placeholder: "Filter by name...", 
                           autocomplete: :off %>
    </div>
  </div>
<% end %>
