<%= smart_listing_controls_for(:places) do %>
  <div class="place-filters">
    <div class="col-sm-3 filter-search">
      <%= text_field_tag :contains, 
                         '', 
                         class: "search form-control", 
                         placeholder: "Filter by name...", 
                         autocomplete: :off %>
    </div>
    <%= render 'places/dropdown_for_sort' %>
    <%= render 'places/dropdown_for_cities' %>
    <%= render 'places/dropdown_for_categories' %>
  </div>
<% end %>

<script type="text/javascript">
  // This prevents dropdowns from closing after checkbox select.
  $('.dropdown-menu').on('click', function(e) {
    if($(this).hasClass('checkbox-menu')) {
        e.stopPropagation();
    }
  });

  var delay = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();

  $('#contains').keyup(function() {
    delay(function(){
      $('#contains').submit();
    }, 600 );
  });
</script>
