<h4>Places:</h4>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Date Created</th>
      <th>Control</th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |p| %>
    <tr>
      <td><%= link_to p.name, p %></td>
      <td><%= link_to p.url_website, "http://#{p.url_website}"%></td>
      <td><%= localize(p.created_at, :format => :long) %></td>
      <td>
        <%= link_to "edit", edit_place_path(p) %>
        / <%= link_to "delete", p, method: :delete,
                                    data: { confirm: "Delete this place?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>