<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<% provide(:title, @place.name ) %>

<div class="row space-to-bottom-40 place">
  <div class="col-md-6">
    <h4><%= @place.name %></h4>
    <%= link_to @place.url_website, "http://#{@place.url_website}"%><br>
    <%= @place.category_list %><br>

    <div>
      <div id="map-canvas" style='width: 350px; height: 180px;'></div>
    </div>

    <address>
      <%= @place.address_line_1 %><br>
      <% if !@place.address_line_2.empty? %>
        <%= @place.address_line_2 %>
        <%= tag(:br) %>
      <% end %>
      <%= @place.address_city %>, <%= @place.address_state %> <%= @place.address_zip_code %>
    </address>

    <address> 
      Phone number: <%= @place.phone_number %><br>
      <%= link_to "Menu", "http://#{@place.url_menu}"%><br>
    </address>

    <div id=<%= "star_" + @place.id.to_s %>></div>
    <div class="text" class="text-right">
      (<%= pluralize(@place.reviews_count, 'review') %>)<br><br>
      <%= link_to "Write review", new_or_edit_review_path(@place), class: "btn btn-default" if signed_in? %><br><br>
    </div>

    <%= image_tag @place.primary_image.url%>
  </div>

  <div class="col-md-6">
    <ul class="nav nav-tabs tabs" role="tablist">
      <li class="active"><a href="#reviews" role="tab" data-toggle="tab">Reviews</a></li>
    </ul>
    <div id='content' class="tab-content">
      <div class="tab-pane active" id="reviews">
        <% if @reviews.any? %>
          <ol class="reviews">
            <%= render @reviews %>
          </ol>
          <%= paginate @reviews %>
        <% else %>
          <%= content_tag(:p, "There are no reviews.") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({
      provider: {
        disableDefaultUI: true,
        draggable: false,
        zoomControl: false,
        scrollwheel: false,
        zoom: 12
      },
      internal: {
        id: 'map-canvas'
      }
    },
    function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @place.latitude %>,
          "lng": <%= @place.longitude %>
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    }
  );
</script>

<script type="text/javascript">
  $('#star_<%= @place.id.to_s %>').raty({
    readOnly: true,
    score: <%= @place.rating %>,
    path: '/assets'
  });
</script>
