<% provide(:title, 'Place') %>

<div class="row">
  <div class="col-md-12">
    <address> 
      <strong><%= @place.name %></strong><br>
      <%= link_to @place.url_website, "http://#{@place.url_website}"%><br>
      <%= @place.address_line_1 %><br>
      <% if !@place.address_line_2.empty? %>
        <%= @place.address_line_2 %>
        <%= tag(:br) %>
      <% end %>
      <%= @place.address_city %>, <%= @place.address_state %> <%= @place.address_zip_code %><br>
    </address>
    <address> 
      Phone number: <%= @place.phone_number %><br>
      Menu: <%= link_to @place.url_menu, "http://#{@place.url_menu}"%><br>
    </address>
  </div>
</div>