<% provide(:title, @place.name ) %>

<div class="row space-to-bottom-40">
  <div class="col-md-6 clearfix">
    <h4><%= @place.name %></h4>
    <%= best_in_place_if signed_in? && current_user.admin?, @place, :description, :type => :textarea, :nil => "Click here to add description." %><br>
    <%= link_to @place.url_website, "http://#{@place.url_website}"%><br>
    <%= @place.category_list %><br>

    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?zoom=13&size=350x180&markers=color:0x209600%7C#{@place.address_line_1}+#{@place.address_city},MA" %>

    <address>
      <%= @place.address_line_1 %><br>
      <% if !@place.address_line_2.empty? %>
        <%= @place.address_line_2 %>
        <%= tag(:br) %>
      <% end %>
      <%= @place.address_city %>, <%= @place.address_state %> <%= @place.address_zip_code %>
    </address>

    <address> 
      Phone number: <%= @place.phone_number %><br>
      <%= link_to "Menu", "http://#{@place.url_menu}"%><br>
    </address>

    <div id=<%= "star_" + @place.id.to_s %>></div>
    <div class="text" class="text-right">
      (<%= pluralize(@place.reviews_count, 'review') %>)<br><br>
      <%= link_to "Write review", new_or_edit_review_path(@place), class: "btn btn-default" if signed_in? %><br><br>
    </div>

    <div class="place-img">
      <%= image_tag @place.primary_image.url%>
    </div>
  </div>

  <div class="col-md-6 padding-to-top-10">
    <ul class="nav nav-tabs tabs" role="tablist">
      <li class="active"><a href="#reviews" role="tab" data-toggle="tab">Reviews</a></li>
    </ul>
    <div id='content' class="tab-content">
      <div class="tab-pane active" id="reviews">
        <% if @reviews.any? %>
          <ol class="reviews">
            <%= render @reviews %>
          </ol>
          <%= paginate @reviews %>
        <% else %>
          <%= content_tag(:p, "There are no reviews.") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#star_<%= @place.id.to_s %>').raty({
    readOnly: true,
    score: <%= @place.rating %>,
    path: '/assets'
  });

  $(".best_in_place").best_in_place();
</script>
