<div class="container">
  <div class="col-md-2 footer-panel">
    <h5>MENU</h5>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Places", places_path, method: :get %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-4 footer-panel">
    <h5>ABOUT</h5>
    <p><small>
      Vegan Eats Boston is a community website for vegan eating in the Boston area. Our goal is to provide resources for finding and discussing vegan food options. 
    </p></small>
    <p><small>
      We would love to hear from you about how this website could be more helpful to Boston vegans. Please email us at veganeatsboston@gmail.com and give us your thoughts.
    </p></small>
  </div>
  <div class="col-md-3 footer-panel">
    <h5>COMMUNITY</h5>
    <nav>
      <ul>
        <li><%= link_to "Boston Vegetarian Society", "http://www.bostonveg.org/" %></li>
        <li><%= link_to "Boston Vegan Meetup", "http://www.meetup.com/Boston-Vegan-Meetup/" %></li>
        
      </ul>
    </nav>
  </div>
  <div class="col-md-3 footer-panel">
    <h5>CONTACT</h5>
    <nav>
      <ul>
        <li><%= mail_to "veganeatsboston@gmail.com" %></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-12 text-center dev-info">
    <small>Web development by <%= mail_to "nickwtf@gmail.com", "Nick DelRossi" %> (nickwtf@gmail.com)</small>
  </div>
</div>
