<header class="masthead hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= link_to image_tag("veb_logo.png", alt: "Vegan Eats Boston"), 
            root_path, id: "logo", class: "logo-margin" %>
      </div>
      <div class="col-sm-6 pull-right masthead-right">
        <% if signed_in? %>
          <%= render 'shared/account_dropdown' %>
        <% else %>
          <%= link_to "Sign up now!", signup_path, class: "btn btn-default btn-success" %>
          <%= link_to "Sign in", signin_path, class: "btn btn-default btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
<%= render 'shared/nav_bar' %>

<script type="text/javascript">
  $('#nav').affix({
    offset: {
      top: $('header').height()
    }
  });
  $('#nav-wrapper').height($("#nav").height());

  $(window).resize(function(){
    if ($(window).width() < 767){  
      $('.nav-search').css("cssText", "width: 100% !important;");
    } else {
      $('.nav-search').css("cssText", "width: 400px !important;");
    }
  });
</script>
