<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'shared/shim' %>
    <%= render 'shared/ganalytics' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container main-content">
      <%= render 'shared/flash_messages' %>
      <div>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'shared/disqus' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
